*{
    font-family: Verdana;
}
table, th, td{
    border:1px solid black;
    border-collapse: collapse;
}
thead{ background-color: #666;
    color:white;
    font-size: 12px;
}
td, th{
    padding: 10px;
}
tfoot{ background-color: #ccc;}
h2{
    color: gray;
    font-size: 16px;

}
img{
    width: 400px;
    height: 200px;
}